* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* 
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar {
    width: 600px;
    margin: 50px
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yearMonth {
    font-size: 35px;
}

.calendarNavigation {
    display: flex;
    border: 1px solid #333;
    border-radius: 5px;
}
 */
